if status is-interactive
    # Commands to run in interactive sessions can go here
end
{{ if eq .chezmoi.os "darwin" }}
set -x PATH /opt/homebrew/bin $PATH
{{ end }}

{{ if eq .chezmoi.os "linux" }}
set -x PATH $HOME/.x-cmd.root/local/data/pkg/sphere/X/l/j/h/bin $PATH
set -x PATH $HOME/.local/bin $PATH
{{ end }}

alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

# <<<<==git==>>>>
function gad
    git add .
end
function gmt
    git commit $argv
end
function gph
    git push $argv
end
function gfh
    git fetch $argv
end
function gss
    git status $argv
end
function glg
    git log $argv
end
function gam
    git add . && git commit
end
function gpl
    git pull $argv
end
function gme
    git merge $argv
end
# <<<<==chezmoi==>>>>
function ch
    chezmoi $argv
end
function cad
    chezmoi add $argv
end
function cap
    chezmoi apply
end
function ced
    chezmoi edit $argv
end
function ccd
    cd $HOME/.local/share/chezmoi
end
function cup
    chezmoi update 
end
# <<<<==starship==>>>>
if command -v starship > /dev/null
    printf "starship init fish\n"
    starship init fish | source
else
    printf "starship is not installed\n"
end
# <<<<==zoxide==>>>>
if command -v zoxide > /dev/null
    printf "zoxide init fish\n"
    zoxide init --cmd cd fish | source
else
    printf "zoxide is not installed\n"
end
# <<<<==fzf==>>>>
# fzf --fish | source
