if status is-interactive
    # Commands to run in interactive sessions can go here
end
{{ if eq .chezmoi.os "darwin" }}
set -x PATH /opt/homebrew/bin $PATH
{{ end }}

{{ if eq .chezmoi.os "linux" }}
set -x PATH $HOME/.local/bin $PATH
{{ end }}

alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

# <<<<==git==>>>>
function gad
    git add $argv
end
function gmt
    git commit $argv
end
function gph
    git push $argv
end
function gfh
    git fetch $argv
end
function gss
    git status $argv
end
function glg
    git log $argv
end
function gam
    git add . && git commit
end
# <<<<==chezmoi==>>>>
function ch
    chezmoi $argv
end
function chad
    chezmoi add $argv
end
function chap
    chezmoi apply
end
function ched
    chezmoi edit $argv
end
function chcd
    cd $HOME/.local/share/chezmoi
end
# <<<<==starship==>>>>
starship init fish | source
# <<<<==zoxide==>>>>
zoxide init --cmd cd fish | source
# <<<<==fzf==>>>>
# fzf --fish | source
