if status is-interactive
    # Commands to run in interactive sessions can go here
end
{{- if eq .chezmoi.os "darwin" }}

set -x PATH /opt/homebrew/bin $PATH
{{- end }}

{{- if eq .chezmoi.os "linux" }}

set -x PATH $HOME/.x-cmd.root/local/data/pkg/sphere/X/l/j/h/bin $PATH
set -x PATH $HOME/.local/bin $PATH
{{- end }}

alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

# <<<<==git==>>>>
function gad
    git add .
end
function gmt
    git commit $argv
end
function gph
    git push $argv
end
function gfh
    git fetch $argv
end
function gss
    git status $argv
end
function glg
    git log $argv
end
function gam
    git add . && git commit
end
function gpl
    git pull $argv
end
function gme
    git merge $argv
end
# <<<<==chezmoi==>>>>
function ch
    chezmoi $argv
end
function cad
    chezmoi add $argv
end
function cap
    chezmoi apply
end
function ced
    chezmoi edit $argv
end
function ccd
    cd $HOME/.local/share/chezmoi
end
function cup
    chezmoi update 
end
# <<<<==starship==>>>>
if command -v starship > /dev/null
    printf "starship init fish\n"
    starship init fish | source
else
    printf "starship is not installed\n"
end
# <<<<==zoxide==>>>>
if command -v zoxide > /dev/null
    printf "zoxide init fish\n"
    zoxide init --cmd cd fish | source
else
    printf "zoxide is not installed\n"
end
# <<<<==fzf==>>>>
if command -v fzf > /dev/null
    printf "fzf init fish\n"
    fzf --fish | source
else
    printf "fzf is not installed\n"
end

{{- if eq .chezmoi.os "darwin" }}

# >>> conda initialize >>>
# !! Contents within this block are managed by 'conda init' !!
if test -f /opt/homebrew/Caskroom/miniconda/base/bin/conda
    eval /opt/homebrew/Caskroom/miniconda/base/bin/conda "shell.fish" "hook" $argv | source
else
    if test -f "/opt/homebrew/Caskroom/miniconda/base/etc/fish/conf.d/conda.fish"
        . "/opt/homebrew/Caskroom/miniconda/base/etc/fish/conf.d/conda.fish"
    else
        set -x PATH "/opt/homebrew/Caskroom/miniconda/base/bin" $PATH
    end
end
# <<< conda initialize <<<
{{- end }}
