encryption = "age"
[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age1mk2x8epfuj9qxzngs4zplksam6g8ss85e6h6wf6tps6elhz7u58sdyguyu"

# 启用 Git 自动提交和 push
[git]
    autoCommit = true
    autoPush = true
